Project Folder/Library/PackageCache/*
Project Folder/Library/ArtifactDB
Project Folder/Library/Artifacts/
Project Folder/Library/ScriptAssemblies/*
Project Folder/Builds/
Project Folder/Builds/FinalProject_Data/*
Project Folder/Library/PackageCache/*